@import "~bootstrap/scss/bootstrap";

// LOGGED OUT STYLES
body, html {
  height: 100%;
}

body.logged-out {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/81823/travis-yewell-F-B7kWlkxDQ-unsplash.jpg") center no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 7rem;
    text-transform: lowercase;
  }
  
  h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.login-button {
  border-radius: 10rem;
  border: 0;
  background: #FE8200;
  text-transform: uppercase;

  &:hover {
    background: #FE8200;
  }
}

