@import "~bootstrap/scss/bootstrap";

// LOGGED OUT STYLES
body, html {
  height: 100%;
}

body.logged-out {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("./images/travis-yewell-F-B7kWlkxDQ-unsplash.jpg") center no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 7rem;
    text-transform: lowercase;
  }
  
  h3 {
    font-size: 2rem;
    text-transform: uppercase;
  }
}

.login-button {
  border-radius: 10rem;
  border: 0;
  background: #FE8200;
  text-transform: uppercase;

  &:hover {
    background: #FE8200;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(4, 300px);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.album {
  background: black;
}

